

._container_img {
    width: 100%;
    height: 10em;
    overflow: hidden;
}

._container_img img {
    width: 5em;
    height: 5em;
    object-fit: scale-down;
}

._container_main_home {
    display: grid;
    place-items: center;
    gap: 1em;
    width: -webkit-fill-available;
    overflow: hidden;
}

._container_main_home section:first-child {
    place-self: flex-start;
}

._container_main_home section:first-child
._container_img {
    padding: 2em;
    height: auto;
}


._container_main_home section:first-child
._container_img img {
    width: 22em;
    height: auto;
    object-fit: scale-down;
}

.MuiTypography-root.title-home {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--color-primary);
    overflow: hidden;
}

.subtitle-home {
    text-align: center;
    color: var(--color-text-semit-black);
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.MuiTypography-root {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 1em;
}

._container_header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: calc(100% - 2em);
    height: 2.5em;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


._container_header ._logo_etonociencias {
    display: grid;
    place-content: center;
    width: 8em;
    height: 100%;
}

._container_header ._logo_etonociencias
._container_img {
    height: max-content;
}

._container_header ._logo_etonociencias
._container_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.info_profile {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 19em;
    height: 100%;
}

._container_name {
   width: 14em;
}

.MuiTypography-root.title-header {
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--color-primary);
    overflow: hidden;
    font-size: 14px;
}

._container_img_profile {
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    overflow: hidden;
}

._container_img_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

._close_sesion {
    cursor: pointer;
}

.MuiTypography-root._loading_p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
}

.MuiTypography-root._loading_p:after {
    content: "...";
    animation: dots 1s steps(3, end) infinite;
}

._container_proyectos {
    display: grid;
    place-content: center;
    gap: 1em;
    padding: 1em;
    width: calc(100% - 4em);
    height: auto;
    min-height: 10em;
    overflow: hidden;
}

._conatiner_proyectos_ol {
    position: relative;
    display: grid;
    place-items: center;
    gap: 7px;
    padding: 1em;
    width: calc(95vw - 2em);
    height: 70vh;
    border-radius: 4px;
    overflow: auto;
}

._conatianer_a {
    cursor: pointer;
    width: -webkit-fill-available;
}

._conatianer_a:first-child  {
    margin-top: 5em;
}

._conatianer_a ._container_event {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: calc(100% - 2em);
    padding: 1em;
    border: 1px solid var(--color-primary);
    height: 4em;
    overflow: hidden;
}

._conatainer_filtro {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 15px;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    width: -webkit-fill-available;
}

._conatainer_filtro ._container_select {
    display: grid;
    place-items: center;
    gap: 5px;
}

._conatainer_filtro ._container_select 
select {
    width: -webkit-fill-available;
    height: 2em;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    outline: none;
    padding: 0 0.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

._conatainer_filtro ._container_select 
label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-primary);
}

._display_none {
    display: none !important;
}

._container_filtros_logica {
    position: relative;
    padding: 0.5em;
    width: calc(95vw - 1em);
    z-index: 9;
}

._container_total {
    display: flex;
    width: 68%;
    gap: 10px;
}

._container_total > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

._container_total > div._teachers {
    display: grid;
    gap: 1px;
}

._container_total > div > div > span, 
._container_total > div > span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: var(--color-primary);
    margin-right: 0.2em;
}

._container_total > div > div > strong, 
._container_total > div > strong {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: left;
}

._modal_content {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
}

._close_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 9;
}

._container_modal_data {
    position: relative;
    left: -100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    width: calc(95% - 4em);
    height: 100vh;
    z-index: 10;
    background: var(--color-white);
    overflow: auto;
    animation: slide-in 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

._container_info_proyecto {
    display: grid;
    gap: 1em;
    padding: 1em;
    min-height: 20%;
    width: calc(100% - 2em);
}

._container_info_proyecto > div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

._container_info_proyecto > div > h1.MuiTypography-root {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: var(--color-text-semit-black);
    overflow: hidden;
    font-size: 1em;
    text-align: left;
}

._container_info_proyecto > div > h1.MuiTypography-root span {
    text-align: left;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 9px;
    text-transform: capitalize;
}

._container_list_table:last-child {
    margin-bottom: 4em;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-height: 15em;
  overflow: auto;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid #ddd;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

th {
  background-color: var(--color-bg-table);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

._dropdown {
    display: grid;
    align-items: center;
    gap: 8px;
    height: auto;
    width: 100%;
    border: var(--color-separate-line) 1px solid;
}

._dropdown > div[data-ref="title"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    width: calc(100% - 2em);
    padding: 0.2em 1em;
    background: var(--color-bg-table);
    cursor: pointer;
}

._dropdown > div[data-ref="title"] a,
._dropdown > div[data-ref="title"] h1 {
    width: min-content;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-text-semit-black);
    margin: unset;
}

._dropdown > div[data-ref="title"] a:hover {
    transition: all 0.3s ease-in-out;
    transform: scale3d(1.1, 1.1, 1.1);
}

._dropdown > div[data-ref="title"]:hover {
    transition: all 0.3s ease-in-out;
    background: #e6e6e6;
}

._dropdown > div[data-ref="content"] {
    display: flex;
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    height: 2em;
}

@keyframes slide-in {
    100% {
      left: 2.5%;
    }
}

@keyframes dots {
    0%, 20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: black;
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;
    }
}